//
//  Secrets.xcconfig
//  ANBDConsumer
//
//  Created by 정운관 on 4/29/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


FIREBASE_SERVER_KEY = AAAA9pQV2Xo:APA91bHJuIOsx_XRHcwRUsi7XlNSk34cjq2Zas6B2Lfo8ajfYOPm5Urrg4DX_JY8FeeKsY20VIvxc07Yj7N_GHZCZn3xZM3wr3yfvQNAHma7Ny8p5F6saYqipbLfbJY2js9q_Th4Bp6g
